header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(199, 73, 73);
  color: rgb(31, 31, 31);
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 999;
}

.logo {
  font-size: 30px;
  font-family: dancingScript;
  margin-left: 8%;
}

nav {
  margin-right: 8%;
  padding: 10px;
  font-size: 30px;
}

.social-icon {
  margin: 0 5px;
  color: rgb(31, 31, 31);
}

@media screen and (max-width: 527px) {
  .logo {
    font-size: 20px;
  }
  
  nav {
    margin-right: 5%;
    padding: 8px;
    font-size: 25px;
  }
}

